// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.liste {
  display: inline;
  margin: 5px;
  padding: 10px 15px;
  background-color: #00ad9b;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
